<web-app>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
            org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ru.job4j.job4j_hibernate.controllers.ItemServlet</servlet-name>
        <servlet-class>ru.job4j.job4j_hibernate.controllers.ItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ru.job4j.job4j_hibernate.controllers.ItemServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>


</web-app>